#header {
	height: 50;
	background: #102843;
	color: #fff;
}

#head {
	display: block;
	margin-left: auto;
}

#branding h1 {
	color: #fff;
}

a:link,
a:visited {
	color: #102843;
}

div.breadcrumbs {
	background: #30caa0;
	color: #102843;
}

div.breadcrumbs a {
	color: #333;
}

.module h2,
.module caption,
.inline-group h2 {
	background: #30caa0;
}

.button,
input[type='submit'],
input[type='button'],
.submit-row input,
a.button {
	background: #102843;
	color: #fff;
}
