{% extends 'basePage.html' %}
{% block title %}About{% endblock %}
{% load static %}
{% static "img/place" as baseUrl %}
{% block content %}
<center>
  <h1>About Us</h1>
    <p style="
    background-color: aliceblue;">Our project Explore India is like a kind of a tourist agency which can provide the facilities for a tour as well as booking hotels, holiday apartments and other accommodations for customers. It can mainly operate in major cities and tourist spots of India. Any customer wanting to book hotels, they will have to 1st visit the website of Explore India and register there with their required credentials. It will manage the customers booking easily and also to keep the customer data more safe as well as also customers can also be benefited by checking the availability of the hotels and booking it. It will also help staff of the hotels and the agency to keep in track the customer’s online booking request as well as easy to reply feedback to the customers.
    </p>

</center>
&nbsp;
<div class="container" style="
margin-top: 100px;
">
    <h2 style="
    margin-left: 350px;
">DEVELOPER'S GALLERY</h2>
    <p></p>
    
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          
            <img src="https://expind.s3.us-east-2.amazonaws.com/DSC_0403.JPG" alt="Lights" style="width:100%; height:350px">
            <div class="caption">
              <h1 style="font-family:brush script mt;">Soumen Chakraborty</h1>
              <h3 style="font-family:brush script mt;">96scsoumen.s@gmail.com</h3>
            </div>
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          
            <img src="https://expind.s3.us-east-2.amazonaws.com/DSC_0003.JPG" alt="Lights" style="width:100%; height:350px">
            <div class="caption">
              <h1 style="font-family:brush script mt;">Swagatika Paramanik</h1>
              <h3 style="font-family:brush script mt;">swagatikaparamanik@gmail.com</h3>
            </div>
         
        </div>
      </div>
    </div>
  </div>
  &nbsp;
{% endblock %}